body{
    background-color:#ED7D31;
    color:#ffffff;
    margin:0;
}

h1 {
    text-align: center;
    font-size: 5em;
}

h2{
    font-size: 2.5em;
    margin-top:0;
}


.textInput{
    border:none;
    border-bottom:1px solid white;
    outline:none ! important;
    background-color: transparent;
    color:white;
    resize:none;
    padding-right:5px;
    padding-left:5px;
}

.button {
    color: #ED7D31;
    padding:5px 10px;
    background-color: white;
    border:none;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover{
    cursor:pointer;
    background-color:#e5e5e5;
}